body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:798px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:357px;
  width:100px;
  height:60px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:52px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:81px;
  width:86px;
  height:52px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:14px;
  width:76px;
  height:46px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:72px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:87px;
  width:76px;
  height:46px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:72px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:157px;
  width:76px;
  height:46px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:56px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:126px;
  width:87px;
  height:55px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:83px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:56px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:14px;
  width:87px;
  height:55px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:83px;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:52px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:361px;
  width:86px;
  height:52px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:278px;
  width:76px;
  height:46px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:361px;
  width:76px;
  height:46px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:72px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:444px;
  width:76px;
  height:46px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:72px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:56px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:274px;
  width:87px;
  height:55px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:83px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:56px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:435px;
  width:87px;
  height:55px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:83px;
  word-wrap:break-word;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:387px;
  width:0px;
  height:0px;
}
#u13_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:387px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u14_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-284px;
  width:8px;
  height:288px;
}
#u14_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-284px;
  width:22px;
  height:8px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-115px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:107px;
  width:0px;
  height:0px;
}
#u15_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u15_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-74px;
  width:8px;
  height:78px;
}
#u15_seg2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-74px;
  width:21px;
  height:8px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:107px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u16_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-4px;
  width:8px;
  height:11px;
}
#u16_seg2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-1px;
  width:21px;
  height:8px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:107px;
  width:0px;
  height:0px;
}
#u17_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u17_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-4px;
  width:8px;
  height:81px;
}
#u17_seg2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:69px;
  width:21px;
  height:8px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:387px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u18_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-90px;
  width:8px;
  height:94px;
}
#u18_seg2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-90px;
  width:21px;
  height:8px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:387px;
  width:0px;
  height:0px;
}
#u19_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u19_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-7px;
  width:8px;
  height:11px;
}
#u19_seg2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-7px;
  width:21px;
  height:8px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:387px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-4px;
  width:8px;
  height:88px;
}
#u20_seg2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:76px;
  width:21px;
  height:8px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:37px;
  width:0px;
  height:0px;
}
#u21_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u21_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-4px;
  width:8px;
  height:13px;
}
#u21_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:1px;
  width:18px;
  height:8px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:110px;
  width:0px;
  height:0px;
}
#u22_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u22_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-4px;
  width:8px;
  height:52px;
}
#u22_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:40px;
  width:18px;
  height:8px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:180px;
  width:0px;
  height:0px;
}
#u23_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u23_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-30px;
  width:8px;
  height:34px;
}
#u23_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-30px;
  width:18px;
  height:8px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:110px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u24_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-72px;
  width:8px;
  height:76px;
}
#u24_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-72px;
  width:18px;
  height:8px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:301px;
  width:0px;
  height:0px;
}
#u25_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u25_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-4px;
  width:8px;
  height:9px;
}
#u25_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-3px;
  width:18px;
  height:8px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:384px;
  width:0px;
  height:0px;
}
#u26_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u26_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-4px;
  width:8px;
  height:87px;
}
#u26_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:75px;
  width:18px;
  height:8px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:384px;
  width:0px;
  height:0px;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-86px;
  width:8px;
  height:90px;
}
#u27_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-86px;
  width:18px;
  height:8px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:467px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u28_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-8px;
  width:8px;
  height:12px;
}
#u28_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-8px;
  width:18px;
  height:8px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:99px;
  width:170px;
  height:34px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:143px;
  width:170px;
  height:34px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:166px;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:187px;
  width:170px;
  height:34px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:249px;
  width:170px;
  height:34px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:293px;
  width:170px;
  height:34px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:166px;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:337px;
  width:170px;
  height:34px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:154px;
  width:0px;
  height:0px;
}
#u35_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u35_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-68px;
  width:8px;
  height:72px;
}
#u35_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-68px;
  width:18px;
  height:8px;
}
#u35_seg3 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-68px;
  width:8px;
  height:8px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:154px;
  width:0px;
  height:0px;
}
#u36_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u36_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-4px;
  width:8px;
  height:75px;
}
#u36_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:63px;
  width:12px;
  height:8px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:302px;
  width:0px;
  height:0px;
}
#u37_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u37_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-59px;
  width:8px;
  height:63px;
}
#u37_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-59px;
  width:15px;
  height:8px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:302px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u38_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-4px;
  width:8px;
  height:73px;
}
#u38_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:61px;
  width:11px;
  height:8px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:392px;
  width:170px;
  height:34px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:447px;
  width:170px;
  height:34px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:499px;
  width:170px;
  height:34px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:166px;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:463px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u42_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-78px;
  width:8px;
  height:82px;
}
#u42_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-78px;
  width:16px;
  height:8px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:463px;
  width:0px;
  height:0px;
}
#u43_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u43_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-4px;
  width:8px;
  height:79px;
}
#u43_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:67px;
  width:16px;
  height:8px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:52px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:595px;
  width:86px;
  height:52px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:598px;
  width:76px;
  height:46px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:56px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:595px;
  width:87px;
  height:55px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:83px;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:565px;
  width:170px;
  height:34px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:609px;
  width:170px;
  height:34px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:662px;
  width:170px;
  height:34px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:623px;
  width:0px;
  height:0px;
}
#u50_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u50_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-62px;
  width:8px;
  height:66px;
}
#u50_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-62px;
  width:20px;
  height:8px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:623px;
  width:0px;
  height:0px;
}
#u51_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u51_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-4px;
  width:8px;
  height:82px;
}
#u51_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:70px;
  width:21px;
  height:8px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:387px;
  width:0px;
  height:0px;
}
#u52_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u52_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-4px;
  width:8px;
  height:242px;
}
#u52_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:230px;
  width:22px;
  height:8px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:34px;
  top:76px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:621px;
  width:0px;
  height:0px;
}
#u53_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:621px;
  width:0px;
  height:0px;
}
#u54_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u54_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-4px;
  width:8px;
  height:10px;
}
#u54_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-2px;
  width:18px;
  height:8px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
